@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
  background: #0F172A;
  color: white;
  font-family: 'Inter', sans-serif;
}